page-get-locations {

}

.location-form input {
    padding: 15px 15px;
    width: 100%;
    border: 1px solid #e1e1e1;
}

ul.search-list {
    list-style: none;
    padding: 15px 10px 5px;
    margin: 0 0 15px;
    border: 1px solid #e1e1e1;
    border-top: 0;
}

ul.search-list li {
    margin: 0 0 10px;
    cursor: pointer;
}