// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// .button-ios-primary,
// .button-md-primary {
//     text-transform: uppercase;

// }

// form .item {
//     padding-left: 16px;
//     padding-right: 16px;
// }

button.button {
  background:#3880ff;
  color: #fff;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  height: 40px;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
  margin: 10px 0;
  border-radius: 3px;
}

::-webkit-input-placeholder { /* Edge */
  color: #010101;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #010101;
}

::placeholder {
  color: #010101;
}