page-welcome {
  .splash-bg {
    position: relative;
    background: url('../assets/img/splashbg.png') no-repeat transparent;
    background-size: cover;
    height: 45%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/appicon.png') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }
  button.login {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
}

page-welcome button.login,
page-welcome button.signup {
  background: #8A2387;
  background: -webkit-gradient(linear, left top, right top, from(#F27121), color-stop(#E94057), to(#8A2387));
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  height: 40px;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
  margin: 10px 0;
  border-radius: 3px;
}