<ion-header>

    <ion-navbar>
      <ion-title>Summedup</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content *ngIf='cardItems'>
    <h3 class="text-align">Set your Hours</h3>
    <ion-card class="mar-top">
      <ion-row>
          <ion-col>
            <div class="card-align">
              <img class="card-icon" src="assets/img/home.png">
            </div>  
          </ion-col>
          <ion-col>
              <div class="card-align">
                Home
              </div>  
          </ion-col>  
          <ion-col>
            <div class="card-align">
              <ion-input type="number" [(ngModel)]="cardItems.home_pref" required="true" clearInput=true min="0" max="24"></ion-input>    
            </div>
          </ion-col>
      </ion-row> 
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col>
            <div class="card-align">
              <img class="card-icon" src="assets/img/work.png">
            </div>  
        </ion-col>
        <ion-col>
            <div class="card-align">
              Work
            </div>  
        </ion-col>  
        <ion-col>
            <div class="card-align">
              <ion-input type="number" [(ngModel)]="cardItems.work_pref" required="true" clearInput=true min="0" max="24"></ion-input>  
            </div>
        </ion-col> 
      </ion-row>  
    </ion-card> 
    <ion-card> 
      <ion-row>
        <ion-col>
          <div class="card-align">
              <img class="card-icon" src="assets/img/other.png">
          </div>
          </ion-col>
          <ion-col>
              <div class="card-align">
                Other
              </div>  
          </ion-col>  
          <ion-col>
            <div class="card-align">
              <ion-input type="number" [(ngModel)]="cardItems.other_pref" required="true" clearInput=true min="0" max="24"></ion-input>  
            </div>
          </ion-col>
      </ion-row> 
    </ion-card>    
    <ion-row>
      <ion-col class="pad-around">
        <button ion-button block class="button-positive" (click)="editPreference()">Edit</button>
        <button ion-button block class="button-positive" (click)="deletePreference()">Reset</button>
        <div class="spinner-align"><ion-spinner *ngIf="showLoader" name="bubbles" color="primary"></ion-spinner></div>
      </ion-col>
    </ion-row>
  </ion-content>