page-cards {
    .card-icon{
        height: 32px;
        width: 32px;
    }
    .card-align{
        display: flex;
        align-items: center;
        height: 100%;
    }
    .mar-top{
        margin-top: 50px;
    }
    .spinner-align{
        text-align: center;
    }
    .pad-around{
        margin-left:10px;
        margin-right: 10px;
    }
}
